---
name: lab-05
break: true
indent: 4
---

src/main/java/labfive:
    DecoderRing.java:
        ConfirmFileExists
        CountSingleLineComments --language Java --count 8
        MatchFileFragment --fragment "TODO" --count 0 --exact
        MatchFileFragment --fragment "char " --count 5
        MatchFileFragment --fragment "{YOUR NAME HERE}" --count 0 --exact
        MatchFileFragment --fragment "(char)" --count 5
        MatchFileFragment --fragment "int key" --count 1 --exact
        MatchFileFragment --fragment "String codeName" --count 1 --exact

writing:
    reflection.md:
        ConfirmFileExists
        mdl --rules ~MD009,~MD012,~MD014,~MD013,~MD022,~MD026
        CountFileWords --count 300
        CountFileParagraphs --count 5
        MatchFileFragment --fragment "TODO" --count 0 --exact
        CountMarkdownTags --tag "code_block" --count 1 --exact
        MatchFileFragment --fragment "{YOUR NAME HERE}" --count 0 --exact
        
CountCommits --count 3
ExecuteCommand --command "gradle build"
CountCommandOutput --command "gradle -q --console plain run" --count 1 --exact
MatchCommandFragment --command "gradle -q --console plain run" --fragment "Jawva" --count 1 --exact
